/*global variables*/

body{
    margin: 0;
}

h1{

}

nav{
    height: 60px;
    width: 100%;
    background-color: gray;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    height: 100%;
    width: 60px;
    background-color: rebeccapurple;
    position: relative;
}

.icon{
    height: 30px;
    width: 30px;
    background-color: yellow;
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.ico{
    height: 30px;
    width: 30px;
    background-color: cyan;
    position: absolute;
    right: 0;
    top: 0;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
}

.flexEx{
    width: 100%;
    min-height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.product{
    background-color: green;
    height: 90px;
    width: 90px;
    margin: 8px;
}

p{
    width: 100%;
    text-align: center;
    /*font-weight: bolder;*/
}

/*specific calls*/

#redBox{
    background-color: red;
}

#blueBox{
    background-color: blue;
}

.box{
    border: solid black 2px;
    width: 300px;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 60px;
}

.largeBox{
    background-color: cyan;
}

.purple{
    color: rebeccapurple;
}

.specialHeader{
    color: cornflowerblue;
}

.box > div > h1{

}

li{
    margin-top: 50px;
}

@media (max-width: 600px){
    .box{
        width: 500px;
    }

    li{
        margin-top: 80px;
    }
}
